USE [BLOG]
GO
/****** Object:  Table [dbo].[Articolo]    Script Date: 21-Jan-17 7:03:21 PM ******/
DROP TABLE [dbo].[Articolo]
GO
/****** Object:  Table [dbo].[Articolo]    Script Date: 21-Jan-17 7:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articolo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ristorante] [nvarchar](50) NOT NULL,
	[IDArea] [nvarchar](50) NOT NULL,
	[IDCucina] [nvarchar](50) NOT NULL,
	[IDPrezzo] [nvarchar](50) NOT NULL,
	[Data] [date] NOT NULL,
	[Articolo] [nvarchar](max) NOT NULL,
	[IDVoto] [nvarchar](50) NOT NULL,
	[Foto] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Articolo] ON 

INSERT [dbo].[Articolo] ([ID], [Ristorante], [IDArea], [IDCucina], [IDPrezzo], [Data], [Articolo], [IDVoto], [Foto]) VALUES (1, N'U Bulinu', N'2', N'2', N'2', CAST(0x573C0B00 AS Date), N'The family of the current owners took over the restaurant from the former tenants in 1998. As is often the case when starting something new, they wanted to make some minor alterations to the otherwise fully functioning restaurant. After pulling up the lino floors in the neglected lounge, they came across tiles from the First Republic. To their surprise, underneath the tiles they discovered a whole range of items which looked like rubbish.
With the diligence of an archeologist, the gradually unravelled items which had been wrapped in greasy paper  cutlery tied in a bundle, a decaying barometer from some kind of antique device, an animals horn in a wooden box and a mysterious cast-iron pan with the lid firmly attached with copper wiring. In great anticipation, they lifted up the lid.
A lump of real sirloin beef larded on the edges turned a reddish tint from the colour of the lard covered with a thick creamy sauce, a large slice of yellow lemon with cream and cranberries and over real bread dumplings a little cloud of steam. The food was fresh! In turn everyone tried some until the last drop had been wiped up.
It was with a sense of gratification that they contin- ued their research now  items such as antique kitchenware,
a prayer book, an elegant ladies shoe and other common every- day items. At the end they opened up a tin box filled with a vast array of photos and written documentation and, above all,
a diary written in the handwriting of none other than Aneka Tuzarova Vincenc Bulin, for Gods sake, give him a a rest, he was a decent man, a grocer. He bought only the best goods, always fresh from the best sources. He let people pay for things on the drip which people liked him for. In poverty he lived like everyone else. He married a girl much taller than him, Miluse Drobkova who was nicknamed Drobek (little crumb) and who constantly criticised him. Vincenc worked right till the end and duringthis tough time, was never one to quit smiling.
At this point in his life, a dandy of some sort called Ignac Kuchara started frequenting his shop. Vincenc was sympa- thetic to the careworn mans troubles and became popular with him.
', N'5', N'u bulinu.jpg')
INSERT [dbo].[Articolo] ([ID], [Ristorante], [IDArea], [IDCucina], [IDPrezzo], [Data], [Articolo], [IDVoto], [Foto]) VALUES (3, N'San Carlo', N'1', N'6', N'2', CAST(0x593C0B00 AS Date), N'Tomatoes and Mozzarella cheese are two key ingredients for the fancied Neapolitan pizza. The crust is slightly charred. It has a crisp outer layer, but inside it´s airy and light. The ingredients are not piled high, but instead are perfectly balanced. It´s sweet, salty, full flavored but not greasy. The tomatoes burst with flavor. Each bite makes you hungrier for the next. If this is what you want, you can´t miss visiting San Carlo.
Located right next to the Dancing House, the newly opened Ristorante San Carlo, named after the famed Opera theatre in Napoli, provides a cosy atmosphere with Italian friendly touch and most importantly the authentic Napolitan pizza. Pizza is a passion and an art for Neapolitans and it has clear rules how it should be prepared, explains the acclaimed Neapolitan pizzaiolo Antonio di Filippo. The key are the ingredients and the right preparation. The stone oven should be over 400°C to ensure that every bite is crispy just as it should be.', N'4', N'san-carlo.jpg')
INSERT [dbo].[Articolo] ([ID], [Ristorante], [IDArea], [IDCucina], [IDPrezzo], [Data], [Articolo], [IDVoto], [Foto]) VALUES (4, N'500', N'6', N'5', N'2', CAST(0x5A3C0B00 AS Date), N'Our restaurant 500 is located in Prague 6, Hradcany. We have been serving our amazing food as Restaurant 500 since 2011, where we took over a business which used be well known as typical Czech pub U Pisecke Brany established in 1920`s. To be able to deliver our amazing meals with a suitable environment we had to refurbished our business into modern industrial look and with an option of outside seating. At the first sight you can see our yellow car above the bar, which is Fiat 500, you can guess that this feature dictated our name of the Retaurant 500. We are very proud of our accomplishment.
The feature of our restaurant 500 is the simplicity of ordering your desired meal, we focus on selecting healthy and seasonal ingrediancies to sutisfy your taste buts. To even make it easier to order your gourmat meal, there is a simple blackboard where you can select your order, which coveres anything from gourman steak, fresh fish, burgers and pasta which is freshly made on our premises. As a speciality of our restaurant is our marherita pizza served with fresh burrata . . During the week, especailly on wednesdays you can experience the tradional czech cuisine Echt, serving traditinal czech cuisine.', N'4', N'500-restaurant.jpg')
INSERT [dbo].[Articolo] ([ID], [Ristorante], [IDArea], [IDCucina], [IDPrezzo], [Data], [Articolo], [IDVoto], [Foto]) VALUES (5, N'Pizza Nuova', N'1', N'6', N'3', CAST(0x5A3C0B00 AS Date), N'It is our pleasure to bake traditional Naples-style pizzas for you. Their exceptional taste comes from using the Italian San Marzano tomatoes, buffalo mozzarella and olive oil. 
Our pizzas are hand rolled according to the guarded tradition of Verace Pizza Napoletana. We bake them in a traditional oven using a beech wood fire. A dark crust, thick on the edge and thin in the body, is typical for Naples-style pizzas.', N'4', N'pizza nuova.jpg')
INSERT [dbo].[Articolo] ([ID], [Ristorante], [IDArea], [IDCucina], [IDPrezzo], [Data], [Articolo], [IDVoto], [Foto]) VALUES (7, N'Aureole', N'4', N'5', N'3', CAST(0x5B3C0B00 AS Date), N'Aureole Fusion Restaurant & Lounge is a very elegant and stylish restaurant where the cuisine is of the highest quality and the panoramic view over the Prague is just breathtaking.
Restaurant is located on the dizzying heights of the 27th floor of the Czech Republics tallest building City Tower. You have a chance to taste here the best dishes from International and Asian Fusion cuisine.
Restaurant has two private lounges, modern bar and summer terrace. You can enjoy an incredible view from every corner of Aureole. Chef de cuisine Jiri Kral with his skilled team will take care of the unique culinary experience.', N'3', N'aureole.jpg')
INSERT [dbo].[Articolo] ([ID], [Ristorante], [IDArea], [IDCucina], [IDPrezzo], [Data], [Articolo], [IDVoto], [Foto]) VALUES (8, N'Bruxx', N'2', N'5', N'3', CAST(0x5B3C0B00 AS Date), N'Our aim is to create a place where Belgian gastronomy is not only PRETEND, in our restaurant it is real.
We learnt about Belgium and character of its gastronomy during our numerous visits to this country. Moreover, our staff are also experienced from their own work in Belgian gastronomy. These are our main reasons why we decided to transfer the character of Belgian pubs - la brasserie  also to Prague.
In BRUXX you can exclusively find 8 kinds of draught Belgian beer which we import ourselves. For comparison, we offer one beer from the local Czech mini breweries. Fresh mussels are brought three times a week.', N'4', N'bruxx.jpg')
INSERT [dbo].[Articolo] ([ID], [Ristorante], [IDArea], [IDCucina], [IDPrezzo], [Data], [Articolo], [IDVoto], [Foto]) VALUES (9, N'Vinohradsky Parlament', N'2', N'2', N'2', CAST(0x5C3C0B00 AS Date), N'The theme of the restaurant, developed in partnership with the Staropramen Brewery, is founded on bringing together high-quality beer and food. The environment is that of a new-style Czech pub  the aim is a contemporary approach to traditional Czech hospitality. ', N'3', N'parlament.jpg')
SET IDENTITY_INSERT [dbo].[Articolo] OFF
