USE [BLOG]
GO
/****** Object:  Table [dbo].[Voto]    Script Date: 21-Jan-17 7:03:21 PM ******/
DROP TABLE [dbo].[Voto]
GO
/****** Object:  Table [dbo].[Voto]    Script Date: 21-Jan-17 7:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Voto] ON 

INSERT [dbo].[Voto] ([ID], [Nome]) VALUES (1, 1)
INSERT [dbo].[Voto] ([ID], [Nome]) VALUES (2, 2)
INSERT [dbo].[Voto] ([ID], [Nome]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Voto] OFF
