USE [BLOG]
GO
/****** Object:  Table [dbo].[Cucina]    Script Date: 07-Apr-16 8:48:55 PM ******/
DROP TABLE [dbo].[Cucina]
GO
/****** Object:  Table [dbo].[Cucina]    Script Date: 07-Apr-16 8:48:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cucina](
	[ID] [int] NULL,
	[Nome] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
